@layer components {
  .icons {
    img {
      @apply dark:opacity-100;
      mask-position: center;
      mask-repeat: no-repeat;
    }

    .github {
      mask-image: svg-load('icons/GitHub.svg');
      content: '';
    }
    .linked-in {
      mask-image: svg-load('icons/LinkedIn.svg');
      content: '';
    }
    .email {
      mask-image: svg-load('icons/Email.svg');
      content: '';
    }
  }
}
