@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

/* TODO @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;1,400;1,800&display=swap'); */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./carousel.css";
@import "./curtain.css";
@import "./icons.css";
@import "./logo.css";
@import "./logos.css";
@import "./navigation.css";
@import "./outline.css";
@import "./svg.css";
@import "./tags.css";
@import "./tile.css";

@layer base {
  h1 {
    @apply block py-12 px-7 animate-outline;
    font-size: 1.68rem;
  }
  h2 {
    @apply text-center pt-12 pb-8 uppercase tracking-widest font-medium;
  }
  h3 {
    @apply text-left pt-8 pb-4 capitalize tracking-widest font-normal;
  }
  p {
    @apply text-justify pb-4;

    &:last-child { @apply pb-0; }
    ul + & { @apply pt-4; }
    a { text-decoration: underline dotted; }
  }
  img {
    @apply dark:opacity-75;
  }
  article, aside {
    @apply container mx-auto;
  }
  address {
    @apply not-italic;
  }
}

.js.loading *,
.js.loading *:before,
.js.loading *:after {
  animation-play-state: paused !important;
}

.no-scroll {
  @apply overflow-hidden overscroll-contain;
}

body {
  @apply bg-fixed bg-no-repeat bg-center bg-cover font-light;
  -webkit-overflow-scrolling: touch;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 18px;

  @media screen(2xl) {
    font-size: 24px;
  }

  > header {
    @apply flex flex-col h-screen justify-center items-center bg-bottom bg-no-repeat bg-contain pb-36 xl:pb-96;
  }

  > main {
    @apply pt-10 pb-48 lg:pb-64 px-4 md:px-16 space-y-48 lg:space-y-64;

    article {
      @apply tile;

      & > ul {
        @apply pt-48 lg:pt-64;
      }
    }
  }

  > section {
    @apply fixed z-50 top-0 inset-x-0 bg-opacity-100 overflow-x-hidden overflow-y-auto overscroll-contain px-4 md:px-16 lg:px-60 xl:px-96;

    article {
      @apply hidden h-screen tile;

      &:target { @apply block; }
    }
  }

  > footer {
    @apply pt-20 pb-8;

    > address {
      ul { @apply flex justify-center; }
      li { @apply inline-block px-4; }
      .icons img { @apply h-8; }
    }
  }
}

#about-us {
  > div {
    @apply lg:px-24 xl:px-36;
    p { @apply md:text-2xl 2xl:text-3xl; }
  }
}

#software-development {
  @apply lg:wide-tile;
}

#graphics-design {
  @apply lg:wide-tile-reverse;
}

@media (prefers-color-scheme: light) {
  body {
    @apply text-line-dark;
    background-image: url("./images/background/light.jpg");

    > header {
      background-image: url("./images/treeline/light.png");
    }
    > main, > section {
      @apply bg-fill-light;
    }
    > footer {
      @apply text-fill-light bg-footer-dark;
    }
  }

  img {
    #software-development > & {
      content: url("./images/software-development.jpg");
    }
    #graphics-design > & {
      content: url("./images/graphics-design/light.jpg");
    }
  }
}
@media (prefers-color-scheme: dark) {
  h1 { backdrop-filter: blur(2px) opacity(60%); }

  body {
    @apply text-line-light;
    background-image: url("./images/background/dark.jpg");

    > header {
      background-image: url("./images/treeline/dark.png");
    }
    > main, > section {
      @apply bg-fill-dark;
    }
    > footer {
      @apply text-fill-dark bg-footer-light;
    }
  }

  img {
    #software-development > & {
      content: url("./images/software-development.jpg");
    }
    #graphics-design > & {
      content: url("./images/graphics-design/dark.jpg");
    }
  }
}
