@layer utilities {
  .svg {
    @media (prefers-color-scheme: light) {
      filter: invert(10%) sepia(10%) saturate(4073%) hue-rotate(138deg) brightness(96%) contrast(98%);
    }
    @media (prefers-color-scheme: dark) {
      filter: invert(90%) sepia(2%) saturate(699%) hue-rotate(348deg) brightness(111%) contrast(94%);
    }
  }

  .svg-invert {
    @media (prefers-color-scheme: light) {
      filter: invert(92%) sepia(21%) saturate(341%) hue-rotate(340deg) brightness(95%) contrast(88%);
    }
    @media (prefers-color-scheme: dark) {
      filter: invert(11%) sepia(24%) saturate(1850%) hue-rotate(146deg) brightness(90%) contrast(98%);
    }
  }
}
