@layer components {
  .tags {
    @apply flex flex-row flex-wrap justify-center items-center gap-x-2 gap-y-1;

    > *[data-weight="-2"] {
      @apply font-medium;
      --weight: 0.7;
    }
    > *[data-weight="-1"] {
      @apply font-normal;
      --weight: 0.85;
    }
    > *[data-weight="0"] {
      @apply font-normal;
      --weight: 1;
    }
    > *[data-weight="1"] {
      @apply font-light;
      --weight: 1.25;
    }
    > *[data-weight="2"] {
      @apply font-light;
      --weight: 1.6;
    }
    > *[data-weight="3"] {
      @apply font-light;
      --weight: 2;
    }

    > * {
      --animation-duration: 0.2s;
      --animation-delay: 0.2s;

      @apply text-current;
      opacity: calc(1/4 + var(--weight)/4);
      font-size: calc(var(--weight) * 100%);
      transition: opacity var(--animation-duration) var(--animation-delay) ease-out, color var(--animation-duration) var(--animation-delay) ease-out;

      &:hover {
        @apply text-yellow-600 dark:text-teal-600;
        opacity: 1;
        transition: opacity var(--animation-duration) var(--animation-delay) ease-out, color var(--animation-duration) var(--animation-delay) ease-out;
      }
    }
  }
}
